@import 'buttons'
@import 'button-back-to-top'
@import 'cookie-bar'

.skip-link
  position: absolute
  top: -40px
  left: 16px
  color: #fff
  font-family: $roboto
  font-weight: bold
  font-size: 15px
  letter-spacing: 0.45px
  text-transform: uppercase
  padding: 12px 24px
  background-color: var(--main-primary)
  text-decoration: none
  z-index: 50
  transition: all .3s ease-in-out
  &:focus
    top: 16px