.section-cta
  padding: 40px 0px
  background-color: $primary-color
  color: #fff 
  &__title
    font-size: 24px
    line-height: 50px
    letter-spacing: -0.072px
    margin: 0
  &__btn
    border: 2px solid #fff
    display: block
    margin: 0
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out
    &:hover
      background-color: $btn-dark-blue
      border-color: $btn-dark-blue

@include media-breakpoint-down(sm)
  .section-cta
    &__title
      margin-bottom: 20px
    &__btn
      display: inline-block
